# General
.gitlab
node_modules
package-lock.json
pnpm-workspace.yaml

# Output artifacts
build

# Package: `apps/desktop`
/apps/desktop/docs/book/
/apps/desktop/export/
/apps/desktop/libs/
/apps/desktop/packaging/flatpak/generated-*.json
/apps/desktop/src/common/network/protobuf/js
/apps/desktop/src/common/internal-protobuf/
/apps/desktop/src/rust/
# Forked code, keep differences to original minimal.
/apps/desktop/src/common/node/db/query-runner.ts
/apps/desktop/src/common/crypto/blake2b/implementation.js
