# Build directories
/build/
/export/

# Electron
/electron.pid

# Testing
/junit/

# Unused translation keys
src/translations/**/*_old.json

# Nyc output
.nyc_output_mocha
.nyc_output_karma
coverage
full_coverage_metadata

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/test/playwright/test-data-*.local.json
src/test/playwright/test-data-*-live.json

